<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse">

    <ul class="left nav navbar-nav navbar-left">
      <li *ngIf="isAuth()">
        <a class="btn" routerLink="startpage">Start</a>
      </li>
      <li *ngIf="isAuth()">
        <a class="btn" routerLink="game">Gra</a>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-default">
      <li><a id="navbar-logo" style="cursor: none">The Game</a></li>
    </ul>


    <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">
      <li >
        <a>{{email}}</a>
      </li>
      <li>
        <a class="btn" (click)="onLogout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>


<content>
  <router-outlet></router-outlet>
</content>
