<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse">

    <ul class="left nav navbar-nav navbar-left">
      <li>
        <a class="btn" routerLink="startpage">Start</a>
      </li>
      <li>
        <a class="btn" routerLink="learn">Gra</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!isAuth()" class="active">
        <a class="btn" routerLink="loginpage">Login</a>
      </li>
      <li *ngIf="isAuth()" class="active">
        <a class="btn" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<content>
  <app-login></app-login>
</content>

<!--<router-outlet></router-outlet>-->
